{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="../../static/css/style-blog.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <title>Contact Details | FILTERS OILGAS</title>
</head>
<body>
    <script src="../../static/js/menu.js"></script>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Home</a>
        </div>
        <div class="nav">
            <a href="{% url 'about' %}">About Company</a>
        </div>
        <div class="nav">
            <a href="{% url 'filter' '1' %}">Products</a>
        </div>
        <div class="nav nav-selected">
            <a href="{% url 'contacts' %}">Contact Details</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_en.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section id="contacts">
        <div class="contact-h">Our experts are always glad to answer all your questions.</div>
        <section id="contact">
            <br><br>
            <ul>
                <li><span class="list-key">Country:</span><span class="list-val">{{ contacts.country_en }}</span></li>
                <li><span class="list-key">City:</span><span class="list-val">{{ contacts.town_en }}</span></li>
                <li><span class="list-key">Address:</span><span class="list-val">{{ contacts.place_en }}</span></li>
                <li><span class="list-key">Phones:</span><span class="list-val">{{ contacts.tel1 }}</span></li>
                <li><span class="list-key"></span><span class="list-val">{{ contacts.tel2 }}</span></li>
                <li><span class="list-key">Email:</span><span class="list-val">{{ contacts.email }}</span></li>
            </ul>
        <div class="btn btn-form"><a href="#">feedback</a></div>
        </section>
    </section>
    <footer class="down-cont">
        <div id="emb-f">
                <ul>
                    <li><p>MANUFACTURER</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">FiltersOilGas is one of the biggest Ukrainian producers of filter inserts based on polymeric fibers</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>CONTACT DETAILS</li>
                    <li>Our experts are always glad to answer<br> all your questions.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>feedback</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">latest news</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name_en }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>

</body>
</html>
