{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "res/glide/dist/css/glide.core.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "res/glide/dist/glide.min.js" %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static "js/initGlide.js" %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <title>Конструкции | FILTERS OILGAS</title>
</head>
<body>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <script src="{% static "js/menu.js" %}"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Главная</a>
        </div>
        <div class="nav">
            <a href="{% url 'about' %}">О Компании</a>
        </div>
        <div class="nav">
            <a href="{% url 'filter' '1' %}">Продукция</a>
        </div>
        <div class="nav">
            <a href="{% url 'contacts' %}">Контакты</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_ru.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section class="desc-title construct-title">
        <h1>КОНСТРУКЦИЯ ТОРЦЕВЫХ ЧАСТЕЙ<br>ФИЛЬТРУЮЩИХ ЭЛЕМЕНТОВ</h1>
    </section>
    <section class="desc-btns">
        <div class="btn {% if filter.id == 1 %}btn-buy-h{% endif %}"><a href="{% url 'filter' '1' %}">ОЧИСТКА ГАЗОВ</a></div>
        <div class="btn {% if filter.id == 2 %}btn-buy-h{% endif %}"><a href="{% url 'filter' '2' %}">ОЧИСТКА ЖИДКОСТЕЙ</a></div>
        <div class="btn {% if items %}btn-buy-h{% endif %}"><a href="{% url 'construct_all' %}">КОНСТРУКЦИЯ КАРТРИДЖЕЙ</a></div>
        <div class="btn {% if filter.id == 3 %}btn-buy-h{% endif %}"><a href="{% url 'filter' '3' %}">ОБЛАСТИ ПРИМЕНЕНИЯ</a></div>
    </section>
    <section class="desc-type">
        <div><a href="{% url 'filter' '4' %}" style="{% if filter.id == 4 %}text-decoration:underline;{% endif %}">СОРБЦИОННЫЕ</a></div><div><img src="{% static "res/img/line.png" %}"></div><div><a href="{% url 'filter' '5' %}" style="{% if filter.id == 5 %}text-decoration:underline;{% endif %}">КОАЛЕСЦЕРЫ</a></div>
    </section>
    <section class="section blog-sec" style="margin-top:20px">
        <div id="prod-articles">
            {% for item in items %}
                <div class="item item-con">
                    <div class="glide">
                        <div class="glide__arrows">
                            {% if item.photos.count > 1 %}
                                <img class="glide__arrow prev" data-glide-dir="<" src="{% static "res/img/arrow-l.png" %}"/>
                                <img class="glide__arrow next" data-glide-dir=">" src="{% static "res/img/arrow-r.png" %}"/>
                            {% endif %}
                        </div>
                        <div class="glide__wrapper">
                            <ul class="glide__track">
                                {% for photo in item.photos  %}
                                    <li class="glide__slide">
                                        <img class="article-img" src="{{ photo.photo.url }}"/>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <h3>{{ item.item.name }}</h3>
                    <br>
                    <p>{{ item.item.description }}</p>
                    <div data-name="{{ item.item.name }}" class="btn btn-item btn-form"><a>ЗАПРОС НА ИЗГОТОВЛЕНИЕ</a></div>
                </div>
            {% endfor %}
        </div>
    </section>
    <footer>
        <div id="emb-f">
                <ul>
                    <li><p>ПРОИЗВОДИТЕЛЬ</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">Компания является одним из крупнейших отечественных производителей сменных фильтрующих элементов на основе полимерных микроволокон.</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>КОНТАКТЫ</li>
                    <li>Наши специалисты всегда рады<br>ответить на все ваши вопросы.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>Обратная связь</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">последние новости</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
    <script>
        $(document).ready(function () {
            var items = $('.item');
            if(items.length % 2 != 0){
                $("#prod-articles").append("<div style='display: inline-block; width: 35%; vertical-align: top'></div>");
            }
        });
    </script>
</body>
</html>
