{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="../../static/css/style-blog.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>

    <title>О нас | FILTERS OILGAS</title>
</head>
<body>
    <script src="../../static/js/menu.js"></script>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Главная</a>
        </div>
        <div class="nav nav-selected">
            <a href="{% url 'about' %}">О Компании</a>
        </div>
        <div class="nav">
            <a href="{% url 'filter' '1' %}">Продукция</a>
        </div>
        <div class="nav">
            <a href="{% url 'contacts' %}">Контакты</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_ru.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section class="desc-title">
        <h1>О Компании</h1>
    </section>
    <section id="contacts" class="no-mar">
        <section id="contact" class="about-img">
            <p><span class="h2">FILTERSOILGAS</span> – является одной из ведущих украинских компаний по проектированию, изготовлению, монтажу и техническому сопровождению оборудования для очистки жидкостей и газов. Компания является одним из крупнейших отечественных производителей сменных фильтрующих элементов на основе полимерных микроволокон.</p>
            <br><br>
            <h2>Качество</h2>
            <p>
Фильтрующие элементы FiltersOilGas производятся в соответствии с ТУ У 29.2-30407107.001-2003</p>
            <br><br>
            <p>Фильтрующие элементы соответствуют санитарному законодательству Украины, являются безопасными для здоровья человека и могут использоваться в пищевой и фармацевтической промышленности.</p>
        <div class="btn btn-form"><a href="#">обратная связь</a></div>
        </section>
        <section id="map" class="about-img">
            <img src="{% static 'res/img/logo2.png' %}" alt="">
        </section>
    </section>
    <footer class="down">
        <div id="emb-f">
                <ul>
                    <li><p>ПРОИЗВОДИТЕЛЬ</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">Компания является одним из крупнейших отечественных производителей сменных фильтрующих элементов на основе полимерных микроволокон.</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>КОНТАКТЫ</li>
                    <li>Наши специалисты всегда рады<br>ответить на все ваши вопросы.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>Обратная связь</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">последние новости</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
</body>
</html>
