{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="../../static/css/style-blog.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>

    <title>About us | FILTERS OILGAS</title>
</head>
<body>
    <script src="../../static/js/menu.js"></script>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Home</a>
        </div>
        <div class="nav nav-selected">
            <a href="{% url 'about' %}">About Company</a>
        </div>
        <div class="nav">
            <a href="{% url 'filter' '1' %}">Products</a>
        </div>
        <div class="nav">
            <a href="{% url 'contacts' %}">Contact Details</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_en.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section class="desc-title">
        <h1>About Company</h1>
    </section>
    <section id="contacts" class="no-mar">
        <section id="contact" class="about-img">
            <p><span class="h2">FiltersOilGas</span> is one of the leading Ukrainian companies, which is doing design, production, assembly and modern techniques for gas cleaning and liquid purification. Our company is one of the biggest Ukrainian producers of filter inserts based on polymeric fibers. </p>
            <br><br>
            <h2>Quality</h2>
            <p>Filter elements FiltersOilGas manufacture according to technical specifications of Ukraine 29.2-30407107.001-2003. </p>
            <br><br>
            <p>Filter elements correspond to the health legislation of Ukraine. They are safe for peoples` health and can be used in a food industry and pharmaceutical industry.</p>
        <div class="btn btn-form"><a href="#">Feedback</a></div>
        </section>
        <section id="map" class="about-img">
            <img src="{% static 'res/img/logo2.png' %}" alt="">
        </section>
    </section>
    <footer class="down">
        <div id="emb-f">
                <ul>
                    <li><p>MANUFACTURER</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">FiltersOilGas is one of the biggest Ukrainian producers of filter inserts based on polymeric fibers</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>CONTACT DETAILS</li>
                    <li>Our experts are always glad to answer<br> all your questions.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>feedback</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">latest news</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name_en }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
</body>
</html>
