{% load staticfiles %}
<div id="form">
        <div id="close-form">
            <img src="{% static 'res/img/close.png' %}" alt="">
        </div>
        <div id="form-panel">
            <h2>ВАШ ЗАПРОС НА ИЗГОТОВЛЕНИЕ<br>ИЛИ КОММЕНТАРИЙ</h2>
                <div id="fields">

                    <form action="{% url 'form' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table align="center" valign="middle">
                            <tr>
                                <td class="label-td">ИМЯ</td><!--
                                --><td class="input-td">{{ form.name }}{{ form.name.errors | striptags}}</td>
                            </tr>
                            <tr>
                                <td class="label-td">КОМПАНИЯ</td><!--
                                --><td class="input-td">{{ form.company }}{{ form.company.errors | striptags}}</td>
                            </tr>
                            <tr>
                                <td class="label-td">НОМЕР</td><!--
                                --><td class="input-td">{{ form.number }}{{ form.number.errors | striptags}}</td>
                            </tr>
                            <tr>
                                <td class="label-td">E-MAIL</td><!--
                                --><td class="input-td">{{ form.email }}{{ form.email.errors | striptags}}</td>
                            </tr>
                            <tr>
                                <td class="label-td">КОММЕНТАРИЙ</td><!--
                                --><td class="input-td last-td">
                                    {{ form.message }}{{ form.message.errors | striptags}}
                                    {{ form.file }}
                                    {{ form.url }}
                                    <div id='upload_file' class="btn"><a href="#">Загрузить файл</a></div>
                                    <div id="fileformlabel"></div>
                                    {{ form.file.errors | striptags}}
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="btn" id="submit"><a href="#">отправить</a></div>
                </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('input#id_name').attr('placeholder', 'Ваше имя');
            $('input#id_company').attr('placeholder', 'Ваша компания');
            $('input#id_number').attr('placeholder', '+3801234567');
            $('input#id_email').attr('placeholder', 'example@mail.com');
            $('input:visible').on('change', function () {
                if($.cookie('valid_data')) {
                    $.removeCookie('valid_data', {
                        path: '/'
                    });
                }
            })
            $("#close-form").on("click", function () {
                $("#for-form").empty();
                if($.cookie('item')) {
                    $.cookie('item', null);
                }
            })
            if($.cookie('valid_data')) {
                var data = JSON.parse($.cookie('valid_data'))
                $('#id_name').val(data.name);
                $('#id_number').val(data.number);
                $('#id_email').val(data.email);
            }
            $(".last-td .btn").on('click', function () {
                $('#id_file').trigger("click");
            });
            $("#id_file").on('change', function () {
                var value = $(this).val();
                if (value.lastIndexOf('\\')){
                    var i = value.lastIndexOf('\\')+1;
                }
                else{
                    var i = value.lastIndexOf('/')+1;
                }
                var filename = value.slice(i);
                var uploaded = document.getElementById("fileformlabel");
                uploaded.innerHTML = filename;
            });
            $("#submit").on('click', function () {
                var form = $('form');
                $("#id_url").val(window.location.pathname);
                if($.cookie('item')) {
                    if($("#id_message").val()) {
                         var message = "Тема: " + $.cookie('item') + '. ' + $("#id_message").val();
                    } else {
                         var message = "Тема: " + $.cookie('item');
                    }

                    $("#id_message").val(message);
                }
                var data = new FormData(form[0]);

                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if(data == "OK") {
                            var valid_data = {
                                name: $('#id_name').val(),
                                number: $('#id_number').val(),
                                email: $('#id_email').val()
                            }
                            if($.cookie('item')) {
                                $.cookie('item', null);
                            }
                            $.cookie('valid_data', JSON.stringify(valid_data),{
                                path: '/',
                                expires: 5 * 365
                            });
                            $("#form-panel").html('<h2 style="padding: 40% 20%">Спасибо за ваш запрос!<br>Наш специалист свяжется с Вами в ближайшее время.</h2>');
                            setTimeout(function () {
                                $("#form-panel").slideUp();
                                $("#for-form").empty();
                            }, 2500);

                        } else{
                            $("#for-form").empty();
                            $("#for-form").append(data);
                        }
                    }
                });
            });
        });
    </script>