{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <title>Блог | FILTERS OILGAS</title>
</head>
<body>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <script src="{% static "js/menu.j" %}s"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Главная</a>
        </div>
        <div class="nav">
            <a href="{% url 'about' %}">О Компании</a>
        </div>
        <div class="nav">
            <a href="{% url 'filter' '1' %}">Продукция</a>
        </div>
        <div class="nav">
            <a href="{% url 'contacts' %}">Контакты</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_ru.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section class="blog-first">
        <div id="blog-first-t">
            <h1>ДВИГАЙТЕСЬ ВПЕРЕД С НАМИ</h1>
            <div class="btn blog-first-b"><a href="{% url 'article' '1' %}">Читать больше</a></div>
        </div>

    </section>
    <section class="section blog-sec">
        <div id="prod-articles">
            {% if items.has_previous %}
            <a id="blog-l"  class="desc-pag" href="{% url 'blog_page' items.previous_page_number %}">
                <img src="{% static "res/img/arrow-l.png" %}"/>
            </a>
            {% else %}
                <a class="desc-pag" id="blog-l">
                    <img src="{% static "res/img/arrow-l-n.png" %}"/>
                </a>
            {% endif %}
            {% for item in items %}
                <div class="item item-gen item-blog">
                    <img class="article-img" src="{{ item.photo.url }}"/>
                    <h3>{{ item.name }}</h3>
                    <br>
                    <p>{{ item.short_description }}...</p>
                    <div class="btn btn-item"><a href="{% url 'article' item.id %}">Продолжить</a></div>
                </div>
            {% endfor %}
            {% if items.has_next %}
                <a id="blog-r" class="desc-pag" href="{% url 'blog_page' items.next_page_number %}">
                    <img src="{% static "res/img/arrow-r.png" %}"/>
                </a>
            {% else %}
                <a id="blog-r" class="desc-pag">
                    <img src="{% static "res/img/arrow-r-n.png" %}"/>
                </a>
            {% endif %}
        </div>
    <div class="mob-pag">
        {% if items.has_previous %}
            <a id="blog-l" href="{% url 'blog_page' items.previous_page_number %}">
                <img src="{% static "res/img/arrow-l.png" %}"/>
            </a>
            {% else %}
                <a id="blog-l">
                    <img src="{% static "res/img/arrow-l-n.png" %}"/>
                </a>
        {% endif %}
        {% if items.has_next %}
            <a id="blog-r" href="{% url 'blog_page' items.next_page_number %}">
                <img src="{% static "res/img/arrow-r.png" %}"/>
            </a>
        {% else %}
            <a id="blog-r">
                <img src="{% static "res/img/arrow-r-n.png" %}"/>
            </a>
        {% endif %}

    </div>
    </section>
    <footer>
            <div id="emb-f">
                <ul>
                    <li><p>ПРОИЗВОДИТЕЛЬ</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">Компания является одним из крупнейших отечественных производителей сменных фильтрующих элементов на основе полимерных микроволокон.</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>КОНТАКТЫ</li>
                    <li>Наши специалисты всегда рады<br>ответить на все ваши вопросы.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>Обратная связь</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">последние новости</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
    <script>
        $(document).ready(function () {
            var items = $('.item');

            var count = items.length % 3;
            console.log(count)
            if(count){
                if(count == 1){
                    $(".item:last").after('<div class="item item-gen item-blog"></div><div class="item item-gen item-blog"></div>');
                } else if(count == 2) {
                    $(".item:last").after('<div class="item item-gen item-blog"></div>');
                }
            }
        });
    </script>
</body>
</html>
