{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="description" content="{{ filter.description_en | striptags | truncatechars:150 }}">
    <link rel="stylesheet" href="{% static "css/style-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/style-lists.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static 'js/lang.js' %}"></script>
    <title>{{ filter.name_en }} | FILTERS OILGAS</title>
</head>
<body>
    <script src="{% static "js/menu.js" %}"></script>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Home</a>
        </div>
        <div class="nav">
            <a href="{% url 'about' %}">About Company</a>
        </div>
        <div class="nav nav-selected">
            <a href="{% url 'filter' '1' %}">Products</a>
        </div>
        <div class="nav">
            <a href="{% url 'contacts' %}">Contact Details</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_en.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section class="desc-title">
        <h1>FILTER ELEMENTS</h1>
    </section>
    <section class="desc-btns">
        <div class="btn {% if filter.id == 1 %}btn-buy-h{% endif %}"><a href="{% url 'filter' '1' %}">gas cleaning</a></div>
        <div class="btn {% if filter.id == 2 %}btn-buy-h{% endif %}"><a href="{% url 'filter' '2' %}">liquid purification</a></div>
        <div class="btn"><a href="{% url 'construct_all' %}">cartridge design</a></div>
        <div class="btn {% if filter.id == 3 %}btn-buy-h{% endif %}"><a href="{% url 'filter' '3' %}">range of application</a></div>
    </section>
    <section class="desc-type">
        <div><a href="{% url 'filter' '4' %}" style="{% if filter.id == 4 %}text-decoration:underline;{% endif %}">SORPTION FILTERS</a></div><div><img src="{% static "res/img/line.png" %}"></div><div><a href="{% url 'filter' '5' %}" style="{% if filter.id == 5 %}text-decoration:underline;{% endif %}">COALESCERS</a></div>
    </section>
    <section class="description">
        <h2 class="dsc-name">{{ filter.name_en }}</h2>
        <div class="dsc-t">
            {{ filter.description_en | safe }}
        </div>
        <br><br>
        {% if features %}<h2 class="dsc-name">BASIC CHARACTERISTICS</h2>{% endif %}
        <br>
        <table align="center" valign="middle">
            {% for feauter in features %}
                <tr>
                    <td>{{ feauter.key_en }}</td>
                    <td>{{ feauter.value_en }}</td>
                </tr>
            {% endfor %}
        </table>
        <div data-name="{{ filter.name }}" class="btn btn-form"><a>request for production</a></div>
    </section>
    <section class="dsc-img">
        <img src="{{ filter.photo.url }}" alt="">
    </section>
    <div style="height: 10%"></div>
    <footer class="">
            <div id="emb-f">
                <ul>
                    <li><p>MANUFACTURER</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">FiltersOilGas is one of the biggest Ukrainian producers of filter inserts based on polymeric fibers</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>CONTACT DETAILS</li>
                    <li>Our experts are always glad to answer<br> all your questions.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>feedback</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">latest news</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name_en }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
</body>
</html>
