{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="description" content="{{ item.name | striptags | truncatechars:150 }}">
    <link rel="stylesheet" href="{% static "css/style-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/style-lists.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static 'js/lang.js' %}"></script>
    <title>{{ item.name }} | FILTERS OILGAS</title>
</head>
<body>
    <script src="{% static "js/menu.js" %}"></script>
    <div id="for-form">
    </div>
    <script src="{% static 'js/form-load.js' %}"></script>
    <header>
        <div id="logo">
            <a href="{% url 'general' %}"><img src="{% static "res/img/logo.png" %}" alt="Логотип"></a>
        </div>
        <div class="nav">
            <a href="{% url 'general' %}">Главная</a>
        </div>
        <div class="nav">
            <a href="{% url 'about' %}">О Компании</a>
        </div>
        <div class="nav">
            <a href="{% url 'filter' '1' %}">Продукция</a>
        </div>
        <div class="nav">
            <a href="{% url 'contacts' %}">Контакты</a>
        </div>
        <div class="lang">
            <img src="{% static "res/img/lang_ru.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
    <section class="desc-btns article-btn">
        <div class="btn"><a href="{% url 'blog' %}">Блог</a></div>
    </section>
    <section class="desc-type">
        <div>{{ item.date | date:"SHORT_DATE_FORMAT" }}</div>
    </section>
    <section class="description article-description">
        <h2 class="dsc-name">{{ item.name }}</h2>
        <div class="dsc-t">
            {{ item.description | safe }}
        </div>
        <br><br>
        <div class="btn btn-form"><a>обратная связь</a></div>
    </section>
    <footer class="down">
        <div id="emb-f">
                <ul>
                    <li><p>ПРОИЗВОДИТЕЛЬ</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">Компания является одним из крупнейших отечественных производителей сменных фильтрующих элементов на основе полимерных микроволокон.</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>КОНТАКТЫ</li>
                    <li>Наши специалисты всегда рады<br>ответить на все ваши вопросы.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>Обратная связь</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">последние новости</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
</body>
</html>
