/*@font-face {
    font-family: 'PobedaB';
    src: url('../fonts/Pobeda-Bold/Pobeda-Bold.eot') format('embedded-opentype');
    src:
         url('../fonts/Pobeda-Bold/Pobeda-Bold.ttf') format('truetype'),
         url('../fonts/Pobeda-Bold/Pobeda-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PobedaR';
    src: url('../fonts/Pobeda-Regular/Pobeda-Regular.eot') format('embedded-opentype');
    src:
         url('../fonts/Pobeda-Regular/Pobeda-Regular.ttf') format('truetype'),
         url('../fonts/Pobeda-Regular/Pobeda-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
font-family: Geometria;
src: url("../fonts/Geometria.otf") format("opentype");
}

#vk_groups {
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

html {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, a, li {
    color: #234;
}

.videos {
    width: 100%;
    background-color: #234;
    position: relative;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #ee364f !important;
}


.fp-controlArrow.fp-prev {
    border-color: transparent #ee364f transparent transparent !important;
}
.videos .wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.fb iframe{
    width: 100%;
}

.section {
    text-align: center;
}

.tw-lenta, .vk-lenta, .inst-lenta {
    width: 40%;
    height: 600px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.tw-label, .vk-label, .inst-label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    font-family: Geometria;
    font-size: 2rem;
}

.cont {
    text-transform: uppercase;
    font-family: Geometria;
    font-size: 2rem;
    vertical-align: bottom;
}

.label {
    font-family: Geometria;
    font-size: 2rem;
    text-transform: uppercase;
}

/*.contacts .wrp {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*width: 50%;*/
    /*height: 75%;*/
    /*margin: auto;*/
    /*text-align: center;*/
    /*overflow: visible;*/
    /*display: table;*/
/*}*/

.contacts {
    background-color: #5DC1FF;
}

.contacts .wrp {
    display: block;
    width: 80%;
    margin: auto;
    padding: 2%;
}

.label {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}

.section {
    overflow: hidden;
}

.tw-label hr, .vk-label hr, .inst-label hr, .label hr {
    width: 59%;
    margin: auto;
    border: none; /* Убираем границу для браузера Firefox */
    color: #ee364f;; /* Цвет линии для остальных браузеров */
    background-color: #ee364f; /* Цвет линии для браузера Firefox и Opera */
    height: 3px;
}



.label hr {
    width: 15%;
}

.twitter {
    background-color: whitesmoke;
}

.vk {
    background-color: whitesmoke;
}

.y-video {
    vertical-align: top;
    display: inline-block;
    width: 500px;
    height: 100%;
}

.y-video iframe {
    height: 90%;
    width: 90%;
}



.label span {
    font-family: Geometria;
    font-size: 1.5rem;
    margin-left: 5%;
}

.label span:nth-of-type(1) {
    margin: 0;
}

.header {
    background-color: black;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.fotorama {
    width: 100%;
    height: 100%;
}