@font-face {
    font-family: FuturaBookC;
    src: url('../res/fonts/futurabookc.otf') format("opentype");
}

@font-face {
    font-family: FuturaDemiC;
    src: url('../res/fonts/futurademic.otf') format("opentype");
}

@font-face {
    font-family: FuturaMediumC;
    src: url('../res/fonts/futuramediumc.otf') format("opentype");
}

@font-face {
    font-family: FuturaFuturisctic;
    src: url('../res/fonts/FuturaFuturisC.ttf');
}



* {
    margin: 0;
    padding: 0;
    font-family: FuturaFuturisctic !important;
}

.fa {
    font-family: FontAwesome !important;
}

html {
    font-size: 14px;
}

body, html{
    width: 100%;
}

header, article, footer, nav, section {
    display: block;
}

header{
    background-color: #262626;
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    top: 0;
}

p, h1, h2, h3, h4, li, td {
    color: #262626;
    letter-spacing: 0.045em;
}

footer p, footer li {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    list-style-type: none;
}

footer li:before {
    content: '';
}

.nav {
    width: 12%;
    margin-left: 2%;
    border: 1px solid #262626;
    /*border-radius: 25px;*/
}


header div, header nav {
    display: inline-block;
    vertical-align: middle;
}

.nav-gen {
    width: 10%;
    margin-left: 2%;
}

.nav:hover {
    box-shadow: 0px 0px 0px 1px #febd00 inset
}

.nav-selected {
    box-shadow: 0px 0px 0px 1px #febd00 inset
}

.nav-selected a{
    color: #febd00 !important;
}

/*.nav:nth-of-type(2) {*/
    /*margin-left: 0;*/
/*}*/

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: FuturaDemiC !important;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 32px;
    display: block;
    padding-top: 1px;
}

#logo {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

#logo img{
    display: block;
    width: 60%;
    height: auto;
}

.lang {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    height: 100%;
}

.lang-gen {
    width: 10%;
}

.lang img {
    float: right;
    margin-right: 10%;
    cursor: pointer;
}



section {
    width: 100%;
    overflow: hidden;
}

.section {
    height: 100%;
    min-height: max-content;
}

.auto-height {
    height: auto;

}

.first-l-page {
    height: 104%;
}

.sec {
    margin-top: 12%;
    width: auto;
    text-align: center;
}

.quad-icn {
    text-decoration: none;
    display: inline-block;
    background-color: #7f7f7f;
    width: 150px;
    height: 150px;
    vertical-align: top;
    margin-right: 5%;
}

.quad-icn:hover {
    background-color: #AAAAAA;
}

.quad-icn:last-of-type {
    margin-right: 0;
}

.quad-icn img {
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.quad-icn:last-of-type img {
    margin-top: 30%;
}

.quad-icn span {
    text-decoration: none;
    color: #ffffff;
    font-family: FuturaMediumC;
    text-transform: uppercase;
    display: block;
}

#logo2 {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

#under-logo-t {
    font-family: FuturaMediumC;
    color: #262626;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.half-scr {
    position: relative;
    margin-top: 20px;
    height: 60%;
    text-align: center;
    min-height: max-content;
}

.orange {

}

.black-fnt {
    color: black;
    font-family: FuturaDemiC;
}

#upload_file{
    width: 80%;
}

#upload_file a {
    padding: 0 20px;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    min-height: 520px;
    min-width: 100%;
}
.tac{
    text-align: center;
}

.txt-land {
    width: 60%;
    margin-top: 7%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

@media screen and (min-height: 900px){
    .txt-land {
        margin-top: 15%;
    }
}

.txt-land p {
    font-family: FuturaMediumC;
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.btn {
    text-align: center;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0);
    /*border-radius: 25px;*/
    box-shadow: 0px 0px 0px 1px #262626 inset;
    min-width: max-content;
    max-width: 250px;
}

.btn:hover {
    background-color: #febd00;
    box-shadow: 0px 0px 0px 1px #febd00 inset
}

.btn a:hover {
    color: white;
    cursor: pointer;
}


.btn a {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 32px;
    display: block;
    text-decoration: none;
    color: black;
    font-family: FuturaDemiC !important;
    padding-top: 1px;
}

.btn-obl {
    width: 18%;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.btn-obl:last-of-type {
    margin-left: 1%;
}

.title {
    font-family: FuturaDemiC;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    padding-bottom: 3%;
}

#txt-prod{
    display: inline-block;
    vertical-align: top;
    width: 38%;
    margin-left: 5%;
}

#filters-prod {
    display: inline-block;
    width: 30%;
    margin-left: 15%;
    height: auto;

}

#txt-prod h3{
    font-family:FuturaDemiC;
}

#txt-prod p{
    font-size: 1.1rem;
    font-family:FuturaBookC;
    line-height: 1.5;
}

.h75 {
    height: 75%;
}

.btn-prod {
    margin-top: 15%;
    display: inline-block;
    width: 40%;
}

.btn-prod:last-of-type {
    margin-left: 5%;
}

#prod-articles {
    text-align: center;
}

.item {
    vertical-align: top;
    display: inline-block;
    width: 30%;
}

.item-blog {
    width: 25%;
    vertical-align: middle;
}

.item h3, .item p {
    text-align: left;
    font-family: FuturaDemiC;
}

.item h3 {
    color: #262626;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.item p {
    font-size: 1rem;
    color: #a7a7a7;
}

.article-img {
    padding-bottom: 5%;
    width: 100%;
    height: auto;
}

.btn-item {
    margin-top: 5%;
    width: 50%;
}

.item-gen {
    margin-left: 2%;
    padding-top: 2%;
}

.item-gen:first-of-type, .item-gen:nth-of-type(3n+1) {
    margin-left: 0;
}

#selects {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 10%;
    width: 35%;
    height: 50%;
}

.select span, .select h3 {
    cursor: pointer;
} 


#land-slides {
    display: inline-block;
    vertical-align: top;
    margin-top: 10%;
    width: 60%;
    height: 50.7%;
}

#land-slides img{
    width: 100%;
    height: 100%;
    display: none;
}

.show-slide {
    display: block !important;
}

.select {
    width: 100%;
    height: 24.5%;
    border: 2px solid #d9d9d9;
    cursor: pointer;
}

.select a {
    text-decoration: none;
    cursor: pointer;
}

.select:hover {
    border-left: 2px solid #febd00;
}

.selected-select {
    border-left: 2px solid #febd00;
}

.select:nth-of-type(2n), .select:nth-of-type(3){
    border-top: none;
}

.select span, .select h3 {
    margin-left: 2%;
    padding-bottom: 1%;
    font-family: FuturaDemiC;
    text-transform: uppercase;
    cursor: default;
}

.select span {
    color: #a7a7a7;
    display: none;
}

#last-lpage {
    overflow: hidden;
    width: 100%;
    height: 80%;
    background-color: #bdbdbd;
}

#last-lpage .wrp {
    width: 50%;
    height: 100%;
    text-align: center;
    font-family: FuturaDemiC;
    color: #262626;
    margin-left: 2%;
}

#last-lpage h1 {
    font-size: 2rem;
    margin-top: 30%;
}

#last-lpage p {
    font-size: 1.5rem;
    margin-top: 5%;
}

.btn-lastpage {
    margin-top: 10%;
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.btn-lastpage:last-of-type {
    margin-left: 3%;
}

footer {
    background-color: #262626;
}

#emb-f, #contacts-f, #blog-f {
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
    width: 32%;
    color: #ffffff;
    font-family: FuturaDemiC;
}

#blog-f {
    text-transform: uppercase;
}

#emb-f {
    margin-left: 2%;
}

#emb-f img {
    display: block;
    width: 60%;
    margin-left: 4%;
}

#contacts-f .btn {
    outline: 1px solid black;
    margin-top: 20px;
}

#contacts-f .btn a {
    text-decoration: none;
}

footer li{
    list-style-type: none;
}

footer li {
    padding-top: 10px;
}

footer li:first-of-type {
    padding-top: 0;
}

#emb-f p {
    margin-left: 15%;
}

footer {
    min-height: 300px;
    padding-bottom: 5px;
}

.blog-sec {
    padding-bottom: 5%;
}


.blog-first {
    margin-top: 4%;
    min-height: 75%;
    width: 100%;
    background-color: #a7a7a7;
    background-image: url(../res/img/man.jpg);
    background-size: cover;
    background-position: center;
}

#blog-first-t {
    text-align: center;
    width: 45%;
    height: 60%;
    float: right;
    margin-top: 10%;
}

#blog-first-t h1{
    font-family: FuturaDemiC;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #febd00;
}

.blog-first-b {
    width: 25%;
    margin: 5% auto;
    min-width: 121px;
}

.contact-h {
    text-align: center;
    font-family:FuturaDemiC;
    font-size: 2rem;
    color: #262626;
}

.desc-title {
    padding-top: 5%;
    height: 10rem;
    line-height: 10rem;
    padding-bottom: 5px;
}

.desc-title h1 {
    margin-left: 7%;
    text-transform: uppercase;
    font-family: FuturaBookC;
    font-size: 3rem;
    color: #262626;
}

.desc-btns {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}

.desc-btns .btn:first-of-type {
    margin-left: 0;
}

.desc-type {
    /*text-align: right;*/
    /*width: 25%;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*margin-right: 7%;*/
    text-align: right;
    width: 92%;
    display: block;
    margin-top: 2%;
}

.desc-type a {
    color: #262626;
    text-decoration: none;
    text-transform: uppercase;
}

.desc-btns .btn {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 4%;
}



@media screen and (max-width: 1300px){

        .desc-btns {
            width: 50%;
        }
        .desc-btns .btn {
            width: 45%;
            margin-left: 0;
    }
}

.desc-type div {
    vertical-align: middle;
    display: inline-block;
    font-family: FuturaDemiC;
    text-transform: uppercase;
    color: #262626;
}

.description {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 7%;
    margin-top: 5%;
    padding-bottom: 20%;
}

.article-description {
    display: block;
    width: 90%;
    margin: 5% auto;
}

.dsc-name {
    font-family: FuturaDemiC;
    text-align: center;
    color: #262626;
}

.dsc-t {
    margin-top: 5%;
    font-family: FuturaDemiC;
    line-height: 1.5;

}

.f-item {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(46, 46, 46);
    width: 85%;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

#contact p {
    font-size: 1.15rem;
}

.f-item a {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 30px;
    padding-left: 10px;
}

.f-item img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.f-item span {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dsc-img {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-left: 3%;
    margin-top: 5%;
}

.dsc-img img {
    width: 100%;
    height: auto;
}

table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
td {
    padding: 10px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #d0d0d0; /* Параметры рамки */
    color: #262626;
    font-family: FuturaDemiC;
}

.description .btn {
    width: 40%;
    min-width: 187px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#contacts {
    text-align: center;
    margin-bottom: 40%;
    margin-top: 20%;
}

.article-btn {
    margin-top: 8%;
}
#contact, #map {
    vertical-align: middle;
    width: 36%;
    display: inline-block;
}

#contact {
    min-width: min-content;
}

#contact .btn {
    width: 40% !important;
}

#contact .list-key {
    text-align: left;
    font-weight: bold;
    font-family: FuturaDemiC;
    font-size: 1.5rem;
}

#contact .list-val {
    font-family:FuturaBookC;
    font-size: 1.5rem;
}

#contact ul{
    display: block;
}

#contact li {
    display: block;
}

#contact li:before {
    content: '';
}

.list-key, .list-val {
    display: inline-block;
    width: 49.5%;
}

.list-val {
    text-align: right;
}

#last-li-val {
    text-align: right;
    width: 90%;
}


#map {
    height: 360px;
}

#contact .btn {
    width: 20%;
    margin-top: 20%;
    margin-left: 1px;
    margin-bottom: 1px;
}

.construct-title {
    height: 20%;
}

.construct-title h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    padding-top: 3%;
    padding-bottom: 3%;
}

.item-con {
    width: 35%;
    padding-bottom: 5%;
}

.item-con p {
    height: 100px;
    overflow: hidden;
}

.item-con:nth-child(2n+1) {
    padding-right: 10%;
}



.glide__arrows {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
}

.glide__arrow {
    vertical-align: top;
    width: 10%;
    height: auto;
    display: inline-block;

}

.prev {
    float: left;
    margin-left: 5%;
}

.next {
    float: right;
    margin-right: 5%;
}

#blog-l, #blog-r {
    vertical-align: middle;
    display: inline-block;
    width: 5%;
    height: auto;
}

#blog-l img, #blog-r img {
    width: 100%;
    height: auto;
}

#blog-l {
    margin-right: 2%;
}

#blog-r {
    margin-left: 2%;
}

.item-odd {

}

#menu-open, #menu-close {
    display: none;
}

#menu-open img, #menu-close img {
    width: 100%;
    height: auto;
}

td {
    text-align: center;
}

.item-gen p {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 85px;
}

#form {
    position: fixed;
    top: 0;
    overflow-y:scroll;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.9);
}

#form-panel {
    width: 40%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    min-width: 400px;
}

#form-panel h2 {
    font-family: FuturaBookC;
    text-align: center;
    padding: 5% 0;
}

#fields {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.label-td {
    width: 30%;
    white-space: nowrap;
}

.input-td {
    display: table;
    width: 100%;
}

.input-td input, .input-td textarea {
    border: none;
    outline:none;
    display:table-cell;
    width: 90%;
    height: 73px;
    padding-left: 10px;
    padding-right: -10px;
    font-family: FuturaBookC;
    font-size: 1.5rem;
}


.input-td textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    resize: none;
    height: 150px;

}


.input-td {
    border-left: none;
    border-bottom: none;
}

.last-td {
    border-bottom: 1px solid #d0d0d0;

}

.input-td .btn {
    width: 30%;
    margin: auto;
    margin-bottom: 8px;
}


.btn-buy-h {
    background-color: #febd00;
    box-shadow: 0 0 0 1px #febd00 inset;
    color: #262626;
}

.btn-buy-h a {
    color: #262626;
}

.btn-buy-h a:hover {
    color: whitesmoke;
}

#id_file, #id_url {
    display: none;
}

.mob-pag {
    display: none;
    margin-top: 3%;
    text-align: center;
    width: 100%;
}

#fileformlabel {
    padding-bottom: 5px;
}

#submit {
    margin-top: -1px;
    background-color: white;
}

#submit:hover {
    background-color: #febd00;
}

#close-form {
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    width: 25px;
}

#close-form img {
    width: 100%;
    height: auto;
}

#aboutcmp {
    width: 70%;
}

.about-img {
    margin-left: 7%;
    font-family:FuturaDemiC;
    width: 50%;
    height: 100%;
    text-align: left;
}

.about-img .h2 {
    font-size: 1.3rem;
}

.about-img img{
    margin-top: 15%;
    width: 100%;
    height: auto;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #b8b8b8; /* Цвет линии для остальных браузеров */
    background-color: #b8b8b8; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;

}

.no-mar {
    text-align: left !important;
    margin-top: 0 !important;
    padding-top: 0;
}

.about-img:last-of-type {
    width: 45% !important;
}

.btn-gen {
    width: max-content;
}

.btn-gen a{
    padding-right: 10px;
    padding-left: 10px;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


.show-nav {
        display: block !important;

}

.logo-c {
    width: 100% !important;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {

    #filters-prod {
        margin-bottom: 5%;
    }

    nav a {
        font-size: 0.5rem;
    }

    .nav-gen {
        margin-left: 0.5%;
        width: 11%;
    }

    .desc-type {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 5%;
    }
     .desc-btns {
            width: 50%;
        }
        .desc-btns .btn {
            width: 45%;
    }

    #contact {
        width: 50%;
        padding-bottom: 5%;
    }
    #map {
        width: 90%;
    }

    .item-con {
        padding-right: 0;
        width: 80%;
        margin: 0 !important;
    }

    .item-con:nth-child(2n+1) {
        padding-right: 0;
    }

    .btn-prod {
        margin-top: 10%;
        display: inline-block;
    }

    .last-lpage {
        margin-top: 5%;
        height: max-content;
    }
}

@media screen and (max-width: 900px)  {
    .btn-lastpage {
        width: 70%;
    }

    .last-lpage {
        margin-top: 5%;
        height: max-content;
    }

    .btn-obl {
        width: 60%;
        margin-top: 60px;
    }

    .btn-obl:nth-last-of-type(1) {
        margin-bottom: 20px;
    }

    .btn-obl:last-of-type {
        margin-left: 0;
    }
    .txt-land {
        margin-top: 50px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .txt-land p {
        font-size: 1.5rem;
    }

    .desc-pag {
        display: none !important;
    }

    .mob-pag {
        display: inline-block;
    }

    .item {
        width: 40%;
        margin: 0 0;

    }
    .item:nth-of-type(2n+1) {
        margin-right: 5%;
    }

    .blog-first {
        text-align: center;
    }

    #blog-first-t {
        width: 100%;
        margin-top: 50%;
    }

    .desc-type {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 5%;
    }
     .desc-btns {
            width: 80%;
        }
        .desc-btns .btn {
            width: 45%;
    }

    .desc-title {
        text-align: center;
        height: auto;
        padding-bottom: 5px;
    }

    .desc-title h1{
        font-size: 2rem;
        padding: 0 0;
        margin: 0 0;
    }

    .description, .dsc-img {
        display: inline-block;
        width: 90%;
        margin-left: 5%;
        padding-bottom: 10%;
    }

    #contact {
        width: 80%;
        padding-bottom: 5%;
    }
    #map {
        width: 90%;
    }

    .item-con {
        padding-right: 0;
        width: 90%;
        margin: 0 !important;
    }

    .item-con:nth-child(2n+1) {
        padding-right: 0;
    }

    .nav, .lang {
        display: block;
        width: 80%;
        margin: auto;
    }

    .nav:nth-of-type(2) {
        margin: auto;
    }

    .lang {
        overflow: hidden;
        text-align: center;
    }

    .lang img {
        float: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .nav, .lang {
        display: none;
    }

    .show-menu {
        display: inline-block !important;
    }

    #menu-open {
        width: 5%;
        vertical-align: middle;
        margin-left: 60%;
    }
    header {
        overflow: hidden;
    }

    .menu-close {
        display: block !important;
    }

    #menu-close {
        width: 25px;
        float: right;
        margin-right: 5%;
        padding-bottom: 1%;
    }

    .item {
        width: 80%;
        margin: 0 0 !important;
    }

    .item-gen {
        margin-left: 0;
        padding-top: 5%;
    }

    #emb-f, #contacts-f, #blog-f {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    #emb-f p{
        margin-left: 0;
    }

    #emb-f img {
        margin-left: -10%;
    }

    .f-item {
        width: 100%;
    }

    footer ul {
        width: 90%;
        margin: auto;
    }
}

@media all and (orientation: portrait) {

    body {
        margin-top: 10%;
    }

    #emb-f, #contacts-f, #blog-f {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    #emb-f p{
        margin-left: 0;
    }

    #emb-f img {
        margin-left: -10%;
    }

    .f-item {
        width: 100%;
    }

    footer ul {
        width: 90%;
        margin: auto;
    }

    #logo img{
        width: 100%;
        height: auto;
    }

    #logo {
        width: 40%;
        margin-left: -5%;
    }

    #filters-prod {
        margin-bottom: 5%;
    }

    .last-lpage {
        margin-top: 5%;
        height: max-content;
    }

    .description .btn {
        width: 80%;
    }

    .down-cont {
        margin-top: 100%;
    }
     .menu-close {
        display: block !important;
    }

    #form-panel {
        width: 80%;
        margin: auto;
        margin-top: 20%;
        background-color: white;
        min-width: 400px;
    }
    .down{
        margin-top: 50%;
    }

    .btn {
        height: 50px;
        width: max-content;

    }

    .btn a {
        line-height:50px;
        font-size: 1.5rem;
        padding: 0 20px;
    }

    #txt-prod {
        width: 90%;
        display: block;
        margin: auto;
    }

    #txt-prod p {
        font-size: 1.8rem;
    }

    #txt-prod h3 {
        font-size: 1.8rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .btn-prod {
        display: inline-block !important;
        width: max-content;
    }

    #filters-prod {
        display: block;
        margin: auto;
    }

    .item-gen p {
        font-size: 1.8rem;
    }

    #last-lpage h1 {
        margin-top: 10% !important;
    }

    .nav {
        height: 50px;
    }

    .nav a {
        line-height: 50px;
        font-size: 2rem;
    }

    .btn-lastpage {
        width: 70%;
    }

    .btn-obl {
        width: 70%;
        margin-top: 60px;
    }

    .btn-obl:nth-last-of-type(1) {
        margin-bottom: 20px;
    }

    .btn-obl:last-of-type {
        margin-left: 0;
    }
    .txt-land {
        margin-top: 30%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .txt-land p {
        font-size: 1.5rem;
    }

    .desc-pag {
        display: none !important;
    }

    .mob-pag {
        display: inline-block;
    }

    .item {
        width: 40%;
        margin: 0 0;

    }
    .item:nth-of-type(2n+1) {
        margin-right: 5%;
    }

    .blog-first {
        text-align: center;
    }

    #blog-first-t {
        width: 100%;
        margin-top: 50%;
    }

    .desc-type {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 5%;
    }
     .desc-btns {
            width: 90%;
        }
        .desc-btns .btn {
            width: 90%;
    }

    .desc-title {
        text-align: center;
        height: auto;
        padding-bottom: 5px;
    }

    .desc-title h1{
        font-size: 2rem;
        padding: 0 0;
        margin: 0 0;
    }

    .description, .dsc-img {
        display: inline-block;
        width: 90%;
        margin-left: 5%;
        padding-bottom: 10%;
    }

    #contact {
        width: 80%;
        padding-bottom: 5%;
    }

    form td {
        font-size: 2rem;
    }

    input:focus {
        font-size: 2rem;
    }

    #contact ul {
        width: 100%;
    }

    .list-val {
        text-align: right;
    }

    #aboutcmp {
        font-size: 1.2rem;
    }

    .list-val, .list-key {
        font-size: 2rem !important;
    }

    #map {
        width: 90%;
    }

    .item-con {
        padding-right: 0;
        width: 90%;
        margin: 0 !important;
    }

    .item-con:nth-child(2n+1) {
        padding-right: 0;
    }

    .nav, .lang {
        display: block;
        width: 80%;
        margin: auto;
    }

    .nav:nth-of-type(2) {
        margin: auto;
    }

    .lang {
        overflow: hidden;
        text-align: center;
    }

    .lang img {
        float: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .nav, .lang {
        display: none;
    }


    header {
        overflow: hidden;
    }

    .item {
        width: 80%;
        margin: 0 0 !important;
    }

    .item-gen {
        margin-left: 0;
        padding-top: 5%;
    }

    .desc-pag {
        display: none !important;
    }

    .mob-pag {
        display: inline-block;
    }

  .item {
        width: 80%;
        margin: 0 0 !important;
    }

    .item-gen {
        margin-left: 0;
        padding-top: 5%;
    }

    .blog-first {
        text-align: center;
    }

    #blog-first-t {
        width: 100%;
        margin-top: 50%;
    }

    .nav, .lang {
        display: block;
        width: 80%;
        margin: auto;
    }

    .nav:nth-of-type(2) {
        margin: auto;
    }

    .lang {
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
    }

    .lang img {
        float: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .nav, .lang {
        display: none;
    }


    header {
        overflow: hidden;
    }
    #menu-close {
        width: 4%;
        float: right;
        margin-right: 5%;
        padding-bottom: 1%;
    }

    .show-menu {
        display: inline-block !important;
    }

    #menu-open {
        width: 6%;
        vertical-align: middle;
        margin-left: 50%;
    }
}



