
@media screen and (max-width: 1200px) and (min-width: 901px){
    .quad-icn {
        margin-top: 10%;
    }

    #under-logo-t {
        padding-bottom: 20px;
    }

    #txt-prod .btn {
        margin: auto;
        margin-top: 30px;
    }

    #land-slides {
        width: 90%;
        display: block;
        margin: auto;
    }

    #selects {
        width: 90%;
        padding-top: 50px;
    }

    .wrp{
        margin: auto;
    }

    #last-lpage .btn {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    #last-lpage .btn:last-of-type {
        margin-bottom: 20px;
    }

    #last-lpage{
        height: auto;
    }

    .item-gen {
        width: 70%;
        margin: auto;
        margin-right: 0 !important;
        margin-left: 0 !important;

    }

    .item-gen:last-of-type {
        padding-bottom: 10px;
    }

    #txt-prod .btn:last-of-type {
        margin-bottom: 50px !important;
    }

}

@media screen and (max-width: 900px){
    .quad-icn {
        margin-top: 10%;
    }



    #under-logo-t {
        padding-bottom: 20px;
    }

    #txt-prod .btn {
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    #land-slides {
        width: 90%;
        display: block;
        margin: auto;
    }

    #selects {
        width: 90%;
        padding-top: 50px;
    }

    .wrp{
        margin: auto;
    }

    #last-lpage .btn {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    #last-lpage .btn:last-of-type {
        margin-bottom: 20px;
    }

    #last-lpage{
        height: auto;
    }

    .item-gen {
        width: 70%;
        margin: auto;
        margin-right: 0 !important;
        margin-left: 0 !important;

    }

    .item-gen:last-of-type {
        padding-bottom: 10px;
    }

    #txt-prod .btn:last-of-type {
        margin-bottom: 50px !important;
    }

    #txt-prod {
        display: block;
        width: 80%;
        margin: auto;
    }

    #filters-prod {
        display: block;
        margin: auto;
        margin-bottom: 5%;
        width: 50%;
    }



    #logo2{
        display: block;
        width: 90%;
        margin: auto;
        height: auto;
        margin-top: 5%;
    }
}

@media all and (orientation: portrait) {
    .quad-icn {
        margin-top: 10px !important;
        display: block;
        width: 90%;
        height: auto;
        margin: auto !important;
        padding: 0 !important;
    }

    .quad-icn img {
        padding-top: 20px;
        margin-top: 10px;
    }

    .quad-icn:last-of-type img {
        margin-top: 10px;
    }

    .quad-icn span {
        padding-bottom: 20px;
    }

    #logo2 {
        margin-top: 20px !important;
    }
}