{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="e67326abc43c4919" />
    <meta name="google-site-verification" content="0ShZ1n_Oc6jQRtmeJBL2pstDDzHp2aVzOfGYM93NWPk" />
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style-general-min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style-blog.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{#    <script src="{% static "js/fullPage.js/jquery.fullPage.min.js" %}"></script>#}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/form-load.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <script src="{% static 'js/detect.min.js' %}"></script>
    <title>FILTERS OILGAS - Украинский производитель фильтрующих элементов c 1998 года.</title>
    <meta name="mailru-domain" content="y7gnUudk3yIgR51D" />
</head>
<body>
    <div id="for-form">
    </div>
    <script src="{% static "js/menu.js" %}"></script>
    <header>
        <a id="logo" href="{% url 'general' %}">
            <img src="{% static "res/img/logo.png" %}" alt="Логотип">
        </a>
        <div class="nav nav-selected nav-gen">
            <a href="{% url 'general' %}">Главная</a>
        </div>
        <div class="nav nav-gen">
            <a href="{% url 'about' %}">О Компании</a>
        </div>
        <div class="nav nav-gen">
            <a href="{% url 'filter' '1' %}">Продукция</a>
        </div>
        <div class="nav nav-gen">
            <a href="{% url 'contacts' %}">Контакты</a>
        </div>
        <div class="nav nav-gen btn-form btn-buy-h">
            <a href="#">Заказать</a>
        </div>
        <div class="lang lang-gen">
            <img src="{% static "res/img/lang_ru.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
{#    <script src="{% static "js/land-slide.js" %}"></script>#}
    <script src="{% static "js/slide-on-footer.js" %}"></script>
{#    <script src="{% static "js/fullPage.js/jquery.fullPage.min.js" %}"></script>#}
{#    <script src="{% static "js/fullPage.js/vendors/jquery.easings.min.js" %}"></script>#}
{#    <script src="{% static "js/fullPage.js/jquery.fullPage.css" %}"></script>#}
{#    <link rel="stylesheet" href="{% static "js/fullPage.js/jquery.fullPage.css" %}">#}

        <section class="section tac first-l-page">
            <div class="sec">
                <a href="{% url 'filter' '1' %}" class="quad-icn">
                    <img src="{% static "res/img/shawer.png" %}" alt="Для очистки газов">
                    <span>Для очистки<br>газов</span>
                </a>
                <a href="{% url 'filter' '2' %}" class="quad-icn">
                    <img src="{% static "res/img/drops.png" %}" alt="Для очистки жидкостей">
                    <span>Для очистки<br>жидкостей</span>
                </a>
                <a href="{% url 'filter' '3' %}" class="quad-icn">
                    <img src="{% static "res/img/key-tool.png" %}" alt="Область применения">
                    <span href="#">Область<br>применения</span>
                </a>
            </div>
            <div class="wrp"><img id="logo2" src="{% static "res/img/logo2.png" %}" alt="Логотип 2">
                <p id="under-logo-t">украинский производитель<br>фильтрующих элементов c 1998 года.</p>
            </div>
            <div class="btn btn-obl btn-gen">
                <a href="{% url 'about' %}">О Нас</a>
            </div>
            <div class="btn btn-obl btn-buy-h btn-form btn-gen">
                <a href="#">Запрос на производство</a>
            </div>
        </section>
        <section class="section half-scr orange">
            <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" muted>
                <source src="{% static 'res/video/video.mp4' %}" type="video/mp4">
                <source src="{% static 'res/video/video.webm' %}" type="video/webm">
            </video>
            <div class="txt-land">
                <p><span class="black-fnt">filters oilgas</span> является одним из крупнейших
украинских производителей сменных<br>
фильтрующих элементов на основе<br> полимерных микроволокон.</p>
            </div>
            <div class="btn btn-obl btn-gen">
                <a href="{% url 'filter' '3' %}">Область применения</a>
            </div>
            <div class="btn btn-obl btn-gen btn-buy-h">
                <a href="{% url 'filter' '2' %}">Продукция</a>
            </div>
        </section>
        <section class="section auto-height">
            <div class="title marg-top-10">О продукции</div>
            <div id="txt-prod">
                <h3>КОНСТРУКЦИЯ КАРТРИДЖЕЙ</h3>
                <br>
                <br>
                <p>Конструкция торцевых частей фильтрующих элементов. Все картриджи обладают высокой эффективностью филтрации. Элементы доступны в различных конфигурацияхи рейтинге фильтрации [0,5 мкм — 100 мкм] и предназначенные для удовлетворения потребностей промышленной фильтрации.</p>
                <div class="btn btn-prod btn-gen"><a href="{% url 'construct_all' %}">Все конструкции</a></div>
                <div class="btn btn-prod btn-gen btn-form btn-buy-h"><a>Заказать изготовление</a></div>
            </div>
            <img src="{% static "res/img/img-filters.png" %}" alt="О продукции" id="filters-prod">

        </section>
        <section class="section auto-height">
            <hr>
            <div class="title marg-top-10">Возможности</div>
            <div id="prod-articles">
                {% for item in items %}
                    <div class="item item-gen">
                        <img class="article-img" src="{{ item.photo.url }}"/>
                        <h3>{{ item.name }}</h3>
                        <br>
                        <p>{{ item.short_description | truncatechars:200 }}</p>
                        <div class="btn"><a href="{% url 'skill' item.id %}">Продолжить</a></div>
                    </div>

                {% endfor %}
            </div>
        </section>
        <section class="section res tac">
            <div id="selects">
                {% for slide in slides %}
                <div class="select" data-slide="{{ slide.id }}">
                    <br>
                    <a href="{% url 'slide' slide.id %}">
                        <h3>{{ slide.name }}</h3>
                        <span>{{ slide.short_description }}</span>
                    </a>
                </div>
                {% endfor %}
            </div><!--
            --><div id="land-slides">
            {% for slide in slides %}
                <img src="{{ slide.photo.url }}" data-visible="0" alt="" id="land-slide-{{ slide.id }}">
            {% endfor %}
        </div>
        </section>
        <section class="section last-lpage">
            <div id="last-lpage">
                <div class="wrp">
                    <h1>МЫ ОТКРЫТЫ К СОТРУДНИЧЕСТВУ</h1>
                    <p>СВЯЖИТЕСЬ С НАМИ И МЫ БУДЕМ ИНФОРМИРОВАТЬ ВАС О НАШИХ ТЕКУЩИХ РЕСУРСОВ ЦЕНООБРАЗОВАНИЯ</p>
                    <div class="btn btn-lastpage btn-gen btn-buy-h btn-form"><a href="#">ПРЕДЛОЖИТЬ СОТРУДНИЧЕСТВО</a></div>
                    <div class="btn btn-gen btn-lastpage"><a href="{% url 'about' %}">НАШИ КОНТАКТЫ</a></div>
                </div>
            </div>
        </section>
        <footer>
            <div id="emb-f">
                <ul>
                    <li><p>ПРОИЗВОДИТЕЛЬ</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">Компания является одним из крупнейших отечественных производителей сменных фильтрующих элементов на основе полимерных микроволокон.</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>КОНТАКТЫ</li>
                    <li>Наши специалисты всегда рады<br>ответить на все ваши вопросы.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>Обратная связь</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">последние новости</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
    <script>
        $(document).ready(function () {
            var ua = detect.parse(navigator.userAgent);
            if(ua.os.family == 'iOS' || ua.os.family == 'Android') {
                $('#video').remove();
                $('.half-scr').css({'background-color': '#febd00'});
            }
        });

    </script>
</body>
</html>
