{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'res/img/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style-general-min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style-blog.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{#    <script src="{% static "js/fullPage.js/jquery.fullPage.min.js" %}"></script>#}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/form-load.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <script src="{% static 'js/detect.min.js' %}"></script>
    <title>FILTERS OILGAS - Ukrainian manufacturer of filter elements since 1998.</title>
    <meta name="mailru-domain" content="y7gnUudk3yIgR51D"/>
</head>
<body>
    <div id="for-form">
    </div>
    <script src="{% static "js/menu.js" %}"></script>
    <header>
        <a id="logo" href="{% url 'general' %}">
            <img src="{% static "res/img/logo.png" %}" alt="Логотип">
        </a>
        <div class="nav nav-selected nav-gen">
            <a href="{% url 'general' %}">Home</a>
        </div>
        <div class="nav nav-gen">
            <a href="{% url 'about' %}">About Company</a>
        </div>
        <div class="nav nav-gen">
            <a href="{% url 'filter' '1' %}">Products</a>
        </div>
        <div class="nav nav-gen">
            <a href="{% url 'contacts' %}">Contact Details</a>
        </div>
        <div class="nav nav-gen btn-form btn-buy-h">
            <a href="#">Make An Order</a>
        </div>
        <div class="lang lang-gen">
            <img src="{% static "res/img/lang_en.png" %}" alt="Язык">
        </div>
        <div id="menu-open" class="show-menu">
            <img src="{% static "res/img/menu.png" %}" alt="">
        </div>
        <div id="menu-close">
            <img src="{% static "res/img/close.png" %}" alt="">
        </div>
    </header>
{#    <script src="{% static "js/land-slide.js" %}"></script>#}
    <script src="{% static "js/slide-on-footer.js" %}"></script>
{#    <script src="{% static "js/fullPage.js/jquery.fullPage.min.js" %}"></script>#}
{#    <script src="{% static "js/fullPage.js/vendors/jquery.easings.min.js" %}"></script>#}
{#    <script src="{% static "js/fullPage.js/jquery.fullPage.css" %}"></script>#}
{#    <link rel="stylesheet" href="{% static "js/fullPage.js/jquery.fullPage.css" %}">#}

        <section class="section tac first-l-page">
            <div class="sec">
                <a href="{% url 'filter' '1' %}" class="quad-icn">
                    <img src="{% static "res/img/shawer.png" %}" alt="For gas cleaning">
                    <span>For gas<br>cleaning</span>
                </a>
                <a href="{% url 'filter' '2' %}" class="quad-icn">
                    <img src="{% static "res/img/drops.png" %}" alt="For liquid purification">
                    <span>For liquid<br>purification</span>
                </a>
                <a href="{% url 'filter' '3' %}" class="quad-icn">
                    <img src="{% static "res/img/key-tool.png" %}" alt="Range of application">
                    <span href="#">Range of<br>application</span>
                </a>
            </div>
            <div class="wrp"><img id="logo2" src="{% static "res/img/logo2.png" %}" alt="Логотип 2">
                <p id="under-logo-t">Ukrainian manufacturer of filter elements<br>since 1998</p>
            </div>
            <div class="btn btn-obl btn-gen">
                <a href="{% url 'about' %}">about us</a>
            </div>
            <div class="btn btn-obl btn-buy-h btn-form btn-gen">
                <a href="#">Order a custom manufacturing</a>
            </div>
        </section>
        <section class="section half-scr orange">
            <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" muted>
                <source src="{% static 'res/video/video.mp4' %}" type="video/mp4">
                <source src="{% static 'res/video/video.webm' %}" type="video/webm">
            </video>
            <div class="txt-land">
                <p><span class="black-fnt">filters oilgas</span> is one of the biggest<br>Ukrainian producers of filter inserts<br> based on polymeric fibers</p>
            </div>
            <div class="btn btn-obl btn-gen">
                <a href="{% url 'filter' '3' %}">Range of application</a>
            </div>
            <div class="btn btn-obl btn-gen btn-buy-h">
                <a href="{% url 'filter' '2' %}">Products</a>
            </div>
        </section>
        <section class="section auto-height">
            <div class="title marg-top-10">About products</div>
            <div id="txt-prod">
                <h3>CARTRIDGE DESIGN</h3>
                <br>
                <br>
                <p>Front parts design of filter inserts. All cartridges have high performance of filtration. Elements are available in different configuration (from 0.5 mkm to 100 mkm) and are destined for meeting the needs of industrial filtration.</p>
                <div class="btn btn-prod btn-gen"><a href="{% url 'construct_all' %}">all designs</a></div>
                <div class="btn btn-prod btn-gen btn-form btn-buy-h"><a>Order a custom manufacturing</a></div>
            </div>
            <img src="{% static "res/img/img-filters.png" %}" alt="About products" id="filters-prod">

        </section>
        <section class="section auto-height">
            <hr>
            <div class="title marg-top-10">feasibilities</div>
            <div id="prod-articles">
                {% for item in items %}
                    <div class="item item-gen">
                        <img class="article-img" src="{{ item.photo.url }}"/>
                        <h3>{{ item.name_en }}</h3>
                        <br>
                        <p>{{ item.short_description_en | truncatechars:200 }}</p>
                        <div class="btn"><a href="{% url 'skill' item.id %}">Continue</a></div>
                    </div>

                {% endfor %}
            </div>
        </section>
        <section class="section res tac">
            <div id="selects">
                {% for slide in slides %}
                <div class="select" data-slide="{{ slide.id }}">
                    <br>
                    <a href="{% url 'slide' slide.id %}">
                        <h3>{{ slide.name_en }}</h3>
                        <span>{{ slide.short_description_en }}</span>
                    </a>
                </div>
                {% endfor %}
            </div><!--
            --><div id="land-slides">
            {% for slide in slides %}
                <img src="{{ slide.photo.url }}" data-visible="0" alt="" id="land-slide-{{ slide.id }}">
            {% endfor %}
        </div>
        </section>
        <section class="section last-lpage">
            <div id="last-lpage">
                <div class="wrp">
                    <h1>WE ARE READY TO COOPERATE</h1>
                    <p>GET IN TOUCH WITH US AND WE`LL INFORM YOU ABOUT OUR CURRENT RESOURCES OF PRICING.</p>
                    <div class="btn btn-lastpage btn-gen btn-buy-h btn-form"><a href="#">offer a partnership</a></div>
                    <div class="btn btn-gen btn-lastpage"><a href="{% url 'about' %}">our contact details</a></div>
                </div>
            </div>
        </section>
        <footer>
            <div id="emb-f">
                <ul>
                    <li><p>MANUFACTURER</p></li>
                    <img src="{% static "res/img/logo.png" %}" alt="Логотип">
                    <p id="aboutcmp">FiltersOilGas is one of the biggest Ukrainian producers of filter inserts based on polymeric fibers</p>
                </ul>
            </div>
            <div id="contacts-f">
                <ul>
                    <li>CONTACT DETAILS</li>
                    <li>Our experts are always glad to answer<br> all your questions.</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel1 }}</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> {{ contacts.tel2 }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ contacts.email }}</li>
                    <div class="btn btn-form"><a>feedback</a></div>
                </ul>
            </div>
            <div id="blog-f">
                <ul>
                    <li><a href="{% url 'blog' %}">latest news</a></li>
                    {% for article in articles %}
                        <li><div class="f-item"><span>{{ article.name_en }}</span><a href="{% url 'article' article.id %}"><img src="{% static 'res/img/arrow-r.png' %}" alt=""></a></div></li>
                    {% endfor %}
                </ul>
            </div>
    </footer>
    <script>
        $(document).ready(function () {
            var ua = detect.parse(navigator.userAgent);
            if(ua.os.family == 'iOS' || ua.os.family == 'Android') {
                $('#video').remove();
                $('.half-scr').css({'background-color': '#febd00'});
            }
        });

    </script>
</body>
</html>
